# $FreeBSD: head/etc/mtree/BSD.debug.dist 283526 2015-05-25 13:43:03Z dim $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    debug
        bin
        ..
        boot
        ..
        lib
            geom
            ..
        ..
        libexec
        ..
        sbin
        ..
        usr
            bin
            ..
            lib
                clang
                    3.6.1
                        lib
                            freebsd
                            ..
                        ..
                    ..
                ..
                engines
                ..
                i18n
                ..
                private
                ..
            ..
            lib32
                i18n
                ..
                private
                ..
            ..
            libexec
                bsdinstall
                ..
                lpr
                    ru
                    ..
                ..
                sendmail
                ..
                sm.bin
                ..
            ..
            sbin
            ..
        ..
    ..
..
